.element {
	display: block;
	width:200px;
	background-color: red;
}

.nazwa{
	display:inline;
	width:100px;
	background-color: green;
}

.ilosc{
	display:inline;
	width: 40px;
	background-color: blue;
}

.cena{
	display:inline;
	width: 60px;
	background-color: yellow;
}

.usun{
	top: 0px;
	left: 195px;
	display:inline;
	width: 5px;
	height: 5px;
	background-color:black;
	background: white;
	font-size: 10px;
}

#lista{
	height: 400px;
	width: 400px;
}
	
