#podsumowanie{
	width: 300px;
    height: auto;
    background-color: #e3e3e3;
    min-height: 20px;
    border-radius: 10px;
	margin:0px auto;
	margin-top: 10px;
	text-align:left;
	padding:15px;
	text-align:right;
}

#lista{
	height: 500px;
	width: 500px;
	background-color: #dddbc6;
	border:2px solid;
	border-radius:15px;
	padding: 20px;
	overflow-y:scroll;
	overflow-x:hidden;
}

html,body {
    margin: 0;
    padding: 0;
}

.element{
	position: relative;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

.task-list{
    width: 300px;
    height: auto;
    background-color: #e3e3e3;
    min-height: 240px;
    border-radius: 10px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	margin-top: 100px;
}

.task-list input[type=text]{
    height: 30px;
    width: 285px;
}

.task-list input[type=button]{
	margin-top: 5px;
    height: 35px;
    width: 300px;
}



.nazwa{
	width: 30%;
	display:inline;
	font-weight: bold;
}

.mnoznik{
	width: 30%;
	display:inline;
	margin-left: 20px;
	font-style: italic;
}

.ilosc{
	margin-left:30px;
	font-style: italic;
	font-size: smaller;
	display:inline;
	width: 40px;
}

.cena{
	margin-left: 30px;
	font-size: small;
	display:inline;
	width: 60px;
}

.usun{
	position: absolute;
	right: 0;
	top: 5px;
	padding-right: 5px; 
}

#waulta{
	display: inline;
}

#suma{
	display: inline;
}

body {
    background-color: #374a5d !important;
    border: 0 !important;
    padding:0px;
	text-align:center;
}
